.Card {
  align-items: center;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.Card img {
  box-shadow: 1px 1px 1px darkgray;
  height: 150px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 140px;
}

.boxName {
  padding-left: 5px;
  text-overflow: ellipsis;
  width: 100%;
}
