.ExploreIngredientSection {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 13px;
}

.ExploreIngredientSection button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
}

.ExploreIngredientButton {
  max-width: 200px;
  width: 48vw;
}

.ExploreIngredientButton section {
  max-width: 42vw;
}

.ExploreIngredientButton img {
  height: 42vw;
  max-height: 150px;
  max-width: 200px;
  width: 48vw;
}
