.header {
  align-items: center;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100vw;
}

.btn-profile {
  background: none;
  border: none;
}
